

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

.container {

  margin: auto;
  overflow: hidden;
  /* padding: 0 2rem; */
  text-align: center;
}

.restart-btn {

  color:black;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}

.restart-btn:hover {
  background: black;
  color: #fff;
}

.header {
  text-align: center;
  margin: 1rem 0;
}

.header h1 {
  margin-bottom: 1rem;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  color: #fff;
}

.score p:first-child {
  background: blue;
}

.score p:last-child {
  background: blueviolet;
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.choice {
  cursor: pointer;
}



.text-win {
  color: green;
}

.text-lose {
  color: red;
}

.modal {
 border: 2px solid black;
 padding: 10% 10%;
}

.modal-content {
 
 height: 200px;
 background-color: #333;
  
}

.draw-game{
    color: cadetblue;
}

.modal-content p {
  font-size: 6rem;
  color: aquamarine;
  
}




